@font-face {
  font-family: "Quick";
  src: url(/src/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CHAT STYLES */
* {
  font-family: "Quick", san-serif;
}

.formdiv {
  background: rgb(171, 254, 255);
  background: radial-gradient(
    circle,
    rgba(171, 254, 255, 1) 0%,
    rgba(189, 207, 250, 1) 100%
  );
}
